body {
    overflow-y: hidden;
}

.searchBar {
    margin-left: 10%;
}

.searchBar>input {
    width: 500px !important;
}

.navButtons {
    position: absolute;
    right: 10px;
}

.filterMenu {
    display: inline-block;
    position: absolute;
    padding: 10px;
    height: 100%;
    width: 250px;
}

#range input {
    width: 75px;
}

.container {
    margin-top: 25px;
    margin-left: 300px;
    width: 950px;
    max-height: 600px;
    overflow-y: auto;
}

.card:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

.card-img-top {
    height: 150px;
}
