body {
    overflow-y: hidden;
}

.searchBar {
    margin-left: 10%;
}

.searchBar>input {
    width: 500px !important;
}

.navButtons {
    position: absolute;
    right: 10px;
}

.filterMenu {
    display: inline-block;
    position: absolute;
    padding: 10px;
    height: 100%;
    width: 250px;
}

#range input {
    width: 75px;
}

.container {
    margin-top: 25px;
    margin-left: 300px;
    width: 950px;
    height: 800px;
    /* max-height: 700px; */
    overflow-y: auto;
}

.card:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

.card-img-top {
    height: 150px;
}

#cart {
    position: absolute;
    right: 0px;
    top: 70px;
}

#cartButton {
    width: 50px;
}

#cartButton:hover {
    right: 0px;
}

#cartButton:hover+#cartContent {
    right: 0px;
}

#cartContent:hover {
    right: 0px;
}

#cartContent {
    border-radius: 2%;
    position: absolute;
    height: 500px;
    width: 300px;
    right: -300px;
    background-color: #005EA6;
    transition: 0.5s;
    padding: 30px;
    max-height: 500px;
    overflow-y: auto;
}