body {
    background-image: url(Images/signupBackground.png);
    background-size: cover;
}

.form {
    width: 300px;
    margin-left: 36%;
    margin-top: 1.5%;
    padding: 10px;
}

.hide {
    display: none;
}
